body {
    background-color: teal;
    font-family: 'Pacifico', cursive;
    color: white;
    }

button {
    background-color:sienna;
    border-radius: 4px;
    border: 0;
    margin: 5px;
    color: white;
    text-align: center;
    font-family: 'Roboto', cursive;
}
@media only screen and (max-width: 1000px){
    body {
        font-size: 150%;
 }
}

form {
    background-color: darkslategray;
    color: white;
    padding: 10px;
    font-family: 'Roboto', cursive;
    }

.title {
    text-align: center;
    color: white;
}

.poo {
    font-size: 40px ;
}